build
src/__pycache__
docs/doxygen/html
docs/doxygen/html/*
docs/doxygen/latex
docs/doxygen/latex/*
docs/doxygen/xml
docs/doxygen/xml/*
docs/sphinx/_build
docs/sphinx/_build/*

examples/FornaxA/data
examples/FornaxA/images
examples/MWA_EoR1/data
examples/MWA_EoR1/images
examples/MWA_EoR1/woden-srclist_pumav3.txt
examples/EDA2_haslam/pygsm_woden-list_100MHz_n256.txt
examples/EDA2_haslam/images
examples/EDA2_haslam/data

docs/sphinx/operating_principles/MWAFEE_beamvalues-vs-freq.txt
docs/sphinx/operating_principles/MWAFEE_beamvalues_180MHz.txt
docs/sphinx/operating_principles/azza_values.txt
docs/sphinx/operating_principles/run_RTS_FEE_beam
docs/sphinx/operating_principles/run_RTS_FEE_beam.o
docs/sphinx/operating_principles/run_EDA2_beam
docs/sphinx/operating_principles/run_EDA2_beam.o
docs/sphinx/operating_principles/run_Gaussian_beam
docs/sphinx/operating_principles/run_Gaussian_beam.o
