build
src/__pycache__
docs/doxygen/html
docs/doxygen/html/*
docs/doxygen/latex
docs/doxygen/latex/*
docs/doxygen/xml
docs/doxygen/xml/*
docs/sphinx/_build
docs/sphinx/_build/*

examples/FornaxA/data
examples/FornaxA/images
examples/MWA_EoR1/data
examples/MWA_EoR1/images
examples/MWA_EoR1/woden-srclist_pumav3.txt
examples/EDA2_haslam/pygsm_woden-list_100MHz_n256.txt
examples/EDA2_haslam/images
examples/EDA2_haslam/data

externals

docs/sphinx/operating_principles/MWAFEE_beamvalues-vs-freq.txt
docs/sphinx/operating_principles/MWAFEE_beamvalues_180MHz.txt
docs/sphinx/operating_principles/azza_values.txt
docs/sphinx/operating_principles/run_RTS_FEE_beam
docs/sphinx/operating_principles/run_RTS_FEE_beam.o
docs/sphinx/operating_principles/run_EDA2_beam
docs/sphinx/operating_principles/run_EDA2_beam.o
docs/sphinx/operating_principles/run_Gaussian_beam
docs/sphinx/operating_principles/run_Gaussian_beam.o

coverage_outputs/htmlcov
coverage_outputs/*.gcov
coverage_outputs/*.xml
coverage_outputs/codecov
coverage_outputs/.coverage

test_installation/*/data
test_installation/*/images

cmake_testing/FEE_primary_beam_cuda/beam_plots
cmake_testing/FEE_primary_beam_cuda/hyperbeam*
cmake_testing/FEE_primary_beam_cuda/MWA_FEE_multifreq_gains*
cmake_testing/FEE_primary_beam_cuda/*.png

cmake_testing/source_components/plots

*importuvfits.last

test_installation/absolute_accuracy/array_layouts
test_installation/absolute_accuracy/sky_models
test_installation/absolute_accuracy/uvfits

*ipynb_checkpoints/
